@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Knewave", serif;
  color: white;
  font-style: normal;
  background-color: rgb(76, 149, 64);
}

@layer components {

  .nav_components {
    @apply text-xl text-white ml-5 my-auto;
  }

}